/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a consistent font family */
body {
  font-family: 'Arial', sans-serif;
}

/* Navigation styles */
nav img {
  max-width: 120px; /* Adjust logo size */
}

nav a {
  transition: all 0.3s ease-in-out; /* Smooth hover effect */
  color: #6ab47d; /* Forest green */
}

/* Mobile menu button */
#mobile-menu-btn svg {
  fill: #fff; /* White color for mobile menu button icon */
}

/* Main content styles */
h1,
h2 {
  color: #6ab47d; /* Forest green */
}

.text-green-500 {
  color: #6ab47d !important; /* Cranberry */
}

.text-gray-400 {
  color: #9ca3af; /* Gray for text */
}

.bg-black {
  background-color: #000; /* Black background */
}

/* About Us section */
.container {
  margin-bottom: 60px; /* Adds space between sections */
}

/* Introductory section */
/* Transparent overlay for text */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Additional section */
/* Example styles for a new section */
.additional-section {
  background-color: #1a1a1a; /* Dark background */
  color: #fff; /* White text */
  padding: 40px;
}

/* Font and text styles for additional sections */
.additional-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #6ab47d; /* Forest Green */
}

.additional-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #6ab47d; /* Forest green */
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  color: #000; /* Black text */
}

.bg-gold {
  background-color: #632220; /* Cranberry background for footer */
}

footer a {
  color: #000; /* Black color for footer links */
}

footer a:hover {
  color: #6ab47d; /* Forest green on hover for footer links */
}
