
.blend-logo {
  mix-blend-mode: multiply;
}

.social-icon {
  width: 30px;
  height: 30px;
}

body {
  font-family: 'Cinzel', serif;
  color: #333; /* Darker text color for better readability */
}

/* Update text color for headings */
h2, h3 {
  color: #882929; /* Set a lighter text color for better readability */
}

/* Update text color for menu items */
.menu-item-text {
  color: #ffffff; /* Set a lighter text color for better readability */
}

.outline-black {
  outline: none !important;
  text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,  
              -1px 1px 0 #000,  
                1px 1px 0 #000;
}

.bg-green-800 {
  background-color: #34D399; /* Change to your desired background color */
  margin-top: 1rem; /* Add space between the navbar and the banner */
  padding: 0.5rem 1rem; /* Adjust padding to make the banner thinner */
}

@media (max-width: 640px) {
  .bg-green-800 {
    margin-top: 0.5rem; /* Adjust margin for smaller screens */
    padding: 0.25rem 0.5rem; /* Adjust padding for smaller screens */
  }

  .blend-logo {
    max-width: 80%; /* Adjust the maximum width of the logo */
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .container {
    padding: 2rem; /* Adjust padding as needed */
  }

  .text-3xl {
    font-size: 2rem; /* Adjust font size for headers */
  }

  .text-lg {
    font-size: 1.125rem; /* Adjust font size for paragraphs */
  }
}

.font-cinzel {
  font-family: 'Cinzel', serif;
}