/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a consistent font family */
body {
  font-family: 'Arial', sans-serif;
}

/* Navigation styles */
nav {
  position: absolute;
  top: 20px; /* Adjust this value as needed to position the navbar */
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays on top of other content */
}
nav img {
  max-width: 120px; /* Adjust logo size */
}

nav .container {
  
}
nav a {
  transition: all 0.3s ease-in-out; /* Smooth hover effect */
  color: #6ab47d; /* Forest green */
}

/* Mobile menu button */
#mobile-menu-btn svg {
  fill: #fff; /* White color for mobile menu button icon */
}

/* Main content styles */
h1,
h2 {
  color: #6ab47d; /* Forest green */
}

.text-green-500 {
  color: #6ab47d !important; /* Cranberry */
}

.text-gray-400 {
  color: #9ca3af; /* Gray for text */
}

.bg-black {
  background-color: #000; /* Black background */
}

/* About Us section */
.container {
  margin-bottom: 60px; /* Adds space between sections */
}

/* Introductory section */
.section-intro {
  height: calc(100vh - 0px); /* Adjust the height to leave space for the navbar */
  background-image: url('./assets/IMG_20231130_101359.jpg');
  background-size: cover;
  background-position: center bottom;
  position: relative;
  top: -50px; /* Move the background image up */
}
/* Transparent overlay for text */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  color: #000; /* Black text */
}

.bg-cran {
  background-color: #632220; /* Cranberry background for footer */
}

footer a {
  color: #000; /* Black color for footer links */
}

footer a:hover {
  color: #6ab47d; /* Forest green on hover for footer links */
}

.text-green-500 {
  color: #6ab47d; /* Forest green */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px 20px;
}